{
  "presets": ["next/babel"],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@": ".",
        "@/app": "./app",
        "@/components": "./components",
        "@/lib": "./lib"
      }
    }],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-transform-class-properties"
  ]
} 